In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pymongo
import datetime
from flask import Flask
from sqlalchemy import create_engine
import json

## Get the completed list of airline

In [2]:
tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_airline_codes')

In [3]:
airline_df = tables[0]

In [4]:
IATA_airline_df = airline_df.dropna(subset=['IATA'])
IATA_airline_df

,IATA,ICAO,Airline,Call sign,Country/Region,Comments
2,1A,NaN,Amadeus IT Group S.A.,NaN,Global,GDS and airline hosting system (CRS/PSS)
3,1B,NaN,Sabre travel network Asia-Pacific (ex-Abacus),NaN,APAC,Regional distribution
4,1E,NaN,Travelsky,NaN,China,Local distribution system and hosting system (...
5,1F,NaN,"Infini travel information, Inc.",NaN,Japan,Local distribution system (CRS)
6,1G,NaN,Travelport (Galileo core),NaN,Global,GDS (CRS)
...,...,...,...,...,...,...
6084,C4,IMX,Zimex Aviation,ZIMEX,Switzerland,NaN
6105,Q3,MBN,Zambian Airways,ZAMBIANA,Zambia,NaN
6111,3J,WZP,Zip,ZIPPER,Canada,ICAO Code and callsign no longer allocated
6112,ZG,TZT,ZIPAIR Tokyo,ZIPPY,Japan,Subsidiary of Japan Airlines
6113,Z4,OOM,Zoom Airlines,ZOOM,Canada,"defunct, ICAO Code and callsign no longer allo..."

In [5]:
IATA_airline_df = IATA_airline_df.drop(columns=['Call sign',"Comments"])

In [6]:
filt=(IATA_airline_df['Country/Region']== 'United States')
us_airline = IATA_airline_df.loc[filt]
us_airline =IATA_airline_df.drop(columns=['Country/Region','ICAO'])

In [7]:
us_airline=us_airline.drop_duplicates(subset=['IATA'])
us_airline

     IATA                                        Airline
2      1A                          Amadeus IT Group S.A.
3      1B  Sabre travel network Asia-Pacific (ex-Abacus)
4      1E                                      Travelsky
5      1F                Infini travel information, Inc.
6      1G                      Travelport (Galileo core)
...   ...                                            ...
6061   Y8                          Yangtze River Express
6064   Y0             Yellow Air Taxi/Friendship Airways
6066   IY                                        Yemenia
6105   Q3                                Zambian Airways
6113   Z4                                  Zoom Airlines

[976 rows x 2 columns]

In [8]:
us_airline_clear = us_airline.reset_index(drop=True)

In [9]:
us_airline_clear

    IATA                                        Airline
0     1A                          Amadeus IT Group S.A.
1     1B  Sabre travel network Asia-Pacific (ex-Abacus)
2     1E                                      Travelsky
3     1F                Infini travel information, Inc.
4     1G                      Travelport (Galileo core)
..   ...                                            ...
971   Y8                          Yangtze River Express
972   Y0             Yellow Air Taxi/Friendship Airways
973   IY                                        Yemenia
974   Q3                                Zambian Airways
975   Z4                                  Zoom Airlines

[976 rows x 2 columns]

In [10]:
us_airline_clear.to_csv("Clean/completed_airlines.csv",index=False)

In [11]:
pd.read_csv('Clean/completed_airlines.csv')
# the dataframe name
us_airline_clear

    IATA                                        Airline
0     1A                          Amadeus IT Group S.A.
1     1B  Sabre travel network Asia-Pacific (ex-Abacus)
2     1E                                      Travelsky
3     1F                Infini travel information, Inc.
4     1G                      Travelport (Galileo core)
..   ...                                            ...
971   Y8                          Yangtze River Express
972   Y0             Yellow Air Taxi/Friendship Airways
973   IY                                        Yemenia
974   Q3                                Zambian Airways
975   Z4                                  Zoom Airlines

[976 rows x 2 columns]

## Get the completed list for the airports

In [12]:
airport_df = pd.read_csv('Resources/airports.csv')
airport_df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [13]:
tables2=pd.read_html('https://en.wikipedia.org/wiki/List_of_airports_in_the_United_States')
IATA_airport = tables2[2]
IATA_airport = IATA_airport.dropna(subset=['IATA'])

In [14]:
IATA_airport2=IATA_airport[['IATA','ICAO','FAA','Airport','City']]
IATA_airport2

,IATA,ICAO,FAA,Airport,City
1,BHM,KBHM,BHM,Birminghamâ€“Shuttlesworth International Airport,Birmingham
2,DHN,KDHN,DHN,Dothan Regional Airport,Dothan
3,HSV,KHSV,HSV,Huntsville International Airport (Carl T. Jone...,Huntsville
4,MOB,KMOB,MOB,Mobile Regional Airport,Mobile
5,MGM,KMGM,MGM,Montgomery Regional Airport (Dannelly Field),Montgomery
...,...,...,...,...,...
431,SJU,TJSJ,SJU,Luis MuÃ±oz MarÃ­n International Airport,San Juan / Carolina
432,SIG,TJIG,SIG,Fernando Luis Ribas Dominicci Airport (Isla Gr...,San Juan / Miramar
433,VQS,TJVQ,VQS,Antonio Rivera RodrÃ­guez Airport,Vieques
435,STT,TIST,STT,Cyril E. King Airport,"Charlotte Amalie, St. Thomas"
436,STX,TISX,STX,Henry E. Rohlsen Airport,"Christiansted, St. Croix"

In [15]:
us_airport=IATA_airport2.merge(airport_df[['IATA_CODE','STATE','COUNTRY','LATITUDE','LONGITUDE']],left_on='IATA',right_on='IATA_CODE',how='left')

In [16]:
us_airport_clear=us_airport.drop(columns=['IATA_CODE'])
us_airport_clear

,IATA,ICAO,FAA,Airport,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,BHM,KBHM,BHM,Birminghamâ€“Shuttlesworth International Airport,Birmingham,AL,USA,33.56294,-86.75355
1,DHN,KDHN,DHN,Dothan Regional Airport,Dothan,AL,USA,31.32134,-85.44963
2,HSV,KHSV,HSV,Huntsville International Airport (Carl T. Jone...,Huntsville,AL,USA,34.64045,-86.77311
3,MOB,KMOB,MOB,Mobile Regional Airport,Mobile,AL,USA,30.69142,-88.24283
4,MGM,KMGM,MGM,Montgomery Regional Airport (Dannelly Field),Montgomery,AL,USA,32.30064,-86.39398
...,...,...,...,...,...,...,...,...,...
375,SJU,TJSJ,SJU,Luis MuÃ±oz MarÃ­n International Airport,San Juan / Carolina,PR,USA,18.43942,-66.00183
376,SIG,TJIG,SIG,Fernando Luis Ribas Dominicci Airport (Isla Gr...,San Juan / Miramar,NaN,NaN,NaN,NaN
377,VQS,TJVQ,VQS,Antonio Rivera RodrÃ­guez Airport,Vieques,NaN,NaN,NaN,NaN
378,STT,TIST,STT,Cyril E. King Airport,"Charlotte Amalie, St. Thomas",VI,USA,18.33731,-64.97336
379,STX,TISX,STX,Henry E. Rohlsen Airport,"Christiansted, St. Croix",VI,USA,17.70189,-64.79856

In [17]:
us_airport_clear.to_csv('Clean/completed_airports.csv',index=False)

In [18]:
pd.read_csv('Clean/completed_airports.csv')
# the dataframe name
us_airport_clear

,IATA,ICAO,FAA,Airport,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,BHM,KBHM,BHM,Birminghamâ€“Shuttlesworth International Airport,Birmingham,AL,USA,33.56294,-86.75355
1,DHN,KDHN,DHN,Dothan Regional Airport,Dothan,AL,USA,31.32134,-85.44963
2,HSV,KHSV,HSV,Huntsville International Airport (Carl T. Jone...,Huntsville,AL,USA,34.64045,-86.77311
3,MOB,KMOB,MOB,Mobile Regional Airport,Mobile,AL,USA,30.69142,-88.24283
4,MGM,KMGM,MGM,Montgomery Regional Airport (Dannelly Field),Montgomery,AL,USA,32.30064,-86.39398
...,...,...,...,...,...,...,...,...,...
375,SJU,TJSJ,SJU,Luis MuÃ±oz MarÃ­n International Airport,San Juan / Carolina,PR,USA,18.43942,-66.00183
376,SIG,TJIG,SIG,Fernando Luis Ribas Dominicci Airport (Isla Gr...,San Juan / Miramar,NaN,NaN,NaN,NaN
377,VQS,TJVQ,VQS,Antonio Rivera RodrÃ­guez Airport,Vieques,NaN,NaN,NaN,NaN
378,STT,TIST,STT,Cyril E. King Airport,"Charlotte Amalie, St. Thomas",VI,USA,18.33731,-64.97336
379,STX,TISX,STX,Henry E. Rohlsen Airport,"Christiansted, St. Croix",VI,USA,17.70189,-64.79856

## Ceate the sample csv file

In [19]:
# # Beacuse the original file is too big to upload to the github, we chose the top 10000 rows of data for the demonstration. 
# #link for the original file: https://www.kaggle.com/sherrytp/airline-delay-analysis  (2018.csv)
# df_2018_original = pd.read_csv('Resources/2018.csv')
# df_2018=df_2018_original.head(10000)
# df_2018.to_csv('Resources/2018_sample.csv',index=False )

In [20]:
df_2018= pd.read_csv('Resources/2018_sample.csv')
df_2018

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2018-01-01,WN,1672,HOU,PHX,1950,2108.0,78.0,19.0,2127.0,...,175.0,170.0,146.0,1020.0,6.0,0.0,0.0,0.0,67.0,NaN
9996,2018-01-01,WN,398,HOU,PIT,1035,1035.0,0.0,25.0,1100.0,...,160.0,162.0,130.0,1131.0,NaN,NaN,NaN,NaN,NaN,NaN
9997,2018-01-01,WN,39,HOU,PNS,1745,1803.0,18.0,11.0,1814.0,...,80.0,74.0,61.0,488.0,NaN,NaN,NaN,NaN,NaN,NaN
9998,2018-01-01,WN,255,HOU,RDU,1425,1441.0,16.0,14.0,1455.0,...,150.0,136.0,119.0,1050.0,NaN,NaN,NaN,NaN,NaN,NaN
9999,2018-01-01,WN,966,HOU,SAN,835,846.0,11.0,15.0,901.0,...,210.0,240.0,223.0,1313.0,11.0,0.0,30.0,0.0,0.0,NaN

## Get the information for delayed_flight

In [21]:
filt=(df_2018[['CARRIER_DELAY','WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].sum(axis=1)>0)
delay_df = df_2018.loc[filt]
delay_df2=delay_df[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_DELAY',  'CRS_ARR_TIME', 'ARR_DELAY',
        'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']]

In [22]:
delay_df_clear = delay_df2.reset_index(drop=True)
delay_df_clear

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,UA,2416,ORD,CLE,2059,121.0,2311,129.0,48.0,316.0,121.0,0.0,8.0,0.0,0.0
1,2018-01-01,UA,2413,ORD,BTV,2114,76.0,15,73.0,99.0,763.0,0.0,11.0,0.0,0.0,62.0
2,2018-01-01,UA,2412,MCO,LAX,653,54.0,930,55.0,302.0,2218.0,54.0,0.0,1.0,0.0,0.0
3,2018-01-01,UA,2411,EWR,SMF,1810,72.0,2136,25.0,319.0,2500.0,7.0,0.0,0.0,0.0,18.0
4,2018-01-01,UA,2410,RSW,EWR,1250,47.0,1537,29.0,131.0,1068.0,29.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008,2018-01-01,WN,1240,HOU,MSY,1705,246.0,1810,240.0,47.0,302.0,4.0,0.0,0.0,0.0,236.0
3009,2018-01-01,WN,5592,HOU,OAK,1710,61.0,1930,51.0,232.0,1642.0,0.0,0.0,0.0,0.0,51.0
3010,2018-01-01,WN,1005,HOU,OKC,2220,33.0,2345,23.0,62.0,419.0,0.0,0.0,0.0,0.0,23.0
3011,2018-01-01,WN,1672,HOU,PHX,1950,78.0,2145,73.0,146.0,1020.0,6.0,0.0,0.0,0.0,67.0
3012,2018-01-01,WN,966,HOU,SAN,835,11.0,1005,41.0,223.0,1313.0,11.0,0.0,30.0,0.0,0.0

In [23]:
delay_df_clear.to_csv('Clean/delayed_flight.csv',index=False)

In [24]:
pd.read_csv('Clean/delayed_flight.csv').head()
# the dataframe name
delay_df_clear

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,UA,2416,ORD,CLE,2059,121.0,2311,129.0,48.0,316.0,121.0,0.0,8.0,0.0,0.0
1,2018-01-01,UA,2413,ORD,BTV,2114,76.0,15,73.0,99.0,763.0,0.0,11.0,0.0,0.0,62.0
2,2018-01-01,UA,2412,MCO,LAX,653,54.0,930,55.0,302.0,2218.0,54.0,0.0,1.0,0.0,0.0
3,2018-01-01,UA,2411,EWR,SMF,1810,72.0,2136,25.0,319.0,2500.0,7.0,0.0,0.0,0.0,18.0
4,2018-01-01,UA,2410,RSW,EWR,1250,47.0,1537,29.0,131.0,1068.0,29.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008,2018-01-01,WN,1240,HOU,MSY,1705,246.0,1810,240.0,47.0,302.0,4.0,0.0,0.0,0.0,236.0
3009,2018-01-01,WN,5592,HOU,OAK,1710,61.0,1930,51.0,232.0,1642.0,0.0,0.0,0.0,0.0,51.0
3010,2018-01-01,WN,1005,HOU,OKC,2220,33.0,2345,23.0,62.0,419.0,0.0,0.0,0.0,0.0,23.0
3011,2018-01-01,WN,1672,HOU,PHX,1950,78.0,2145,73.0,146.0,1020.0,6.0,0.0,0.0,0.0,67.0
3012,2018-01-01,WN,966,HOU,SAN,835,11.0,1005,41.0,223.0,1313.0,11.0,0.0,30.0,0.0,0.0

## Get the data for the canceled flights

In [25]:
datas = df_2018.drop(['CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY','DIVERTED','ACTUAL_ELAPSED_TIME','AIR_TIME','Unnamed: 27','ARR_TIME','ARR_DELAY','DEP_TIME','DEP_DELAY','TAXI_OUT','WHEELS_OFF','WHEELS_ON','TAXI_IN'], axis=1)
datas

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,DISTANCE
0,2018-01-01,UA,2429,EWR,DEN,1517,1745,0.0,NaN,268.0,1605.0
1,2018-01-01,UA,2427,LAS,SFO,1115,1254,0.0,NaN,99.0,414.0
2,2018-01-01,UA,2426,SNA,DEN,1335,1649,0.0,NaN,134.0,846.0
3,2018-01-01,UA,2425,RSW,ORD,1546,1756,0.0,NaN,190.0,1120.0
4,2018-01-01,UA,2424,ORD,ALB,630,922,0.0,NaN,112.0,723.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,2018-01-01,WN,1672,HOU,PHX,1950,2145,0.0,NaN,175.0,1020.0
9996,2018-01-01,WN,398,HOU,PIT,1035,1415,0.0,NaN,160.0,1131.0
9997,2018-01-01,WN,39,HOU,PNS,1745,1905,0.0,NaN,80.0,488.0
9998,2018-01-01,WN,255,HOU,RDU,1425,1755,0.0,NaN,150.0,1050.0
9999,2018-01-01,WN,966,HOU,SAN,835,1005,0.0,NaN,210.0,1313.0

In [26]:
cancelled_df=datas.loc[datas["CANCELLED"] == 1]
cancelled_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,DISTANCE
178,2018-01-01,UA,2034,IAH,MFE,1440,1601,1.0,B,81.0,316.0
875,2018-01-01,UA,864,LAS,SFO,1744,1926,1.0,A,102.0,414.0
1244,2018-01-01,UA,488,MFE,IAH,1726,1844,1.0,B,78.0,316.0
1584,2018-01-01,AS,5,DCA,LAX,910,1230,1.0,A,380.0,2311.0
1639,2018-01-01,AS,64,WRG,KTN,1623,1655,1.0,B,32.0,82.0

In [27]:
#start process to merge cancel codes
cancelcode="Resources/cancellation_codes.csv" 
# Preview the first 5 lines of the loaded data 
cancelcd_df = pd.read_csv(cancelcode)
cancelcd_df.head()

  CANCELLATION_REASON CANCELLATION_DESCRIPTION
0                   A          Airline/Carrier
1                   B                  Weather
2                   C      National Air System
3                   D                 Security

In [28]:
#rename column for join
cancelcd_df.rename(columns = {"CANCELLATION_REASON": "CANCELLATION_CODE"},  
          inplace = True) 
cancelcd_df.head()

  CANCELLATION_CODE CANCELLATION_DESCRIPTION
0                 A          Airline/Carrier
1                 B                  Weather
2                 C      National Air System
3                 D                 Security

In [29]:
#join dfs on cancellation code
cancel1_df = pd.merge(cancelled_df, cancelcd_df, on="CANCELLATION_CODE", how="left")
cancel1_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,DISTANCE,CANCELLATION_DESCRIPTION
0,2018-01-01,UA,2034,IAH,MFE,1440,1601,1.0,B,81.0,316.0,Weather
1,2018-01-01,UA,864,LAS,SFO,1744,1926,1.0,A,102.0,414.0,Airline/Carrier
2,2018-01-01,UA,488,MFE,IAH,1726,1844,1.0,B,78.0,316.0,Weather
3,2018-01-01,AS,5,DCA,LAX,910,1230,1.0,A,380.0,2311.0,Airline/Carrier
4,2018-01-01,AS,64,WRG,KTN,1623,1655,1.0,B,32.0,82.0,Weather

In [30]:
cancel2_df = cancel1_df.drop(['CANCELLATION_CODE','CANCELLED'],axis=1)

In [31]:
cancel2_df.to_csv("Clean/cancel4.csv", index=False)

In [32]:
pd.read_csv("Clean/cancel4.csv")
cancel2_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,CRS_ELAPSED_TIME,DISTANCE,CANCELLATION_DESCRIPTION
0,2018-01-01,UA,2034,IAH,MFE,1440,1601,81.0,316.0,Weather
1,2018-01-01,UA,864,LAS,SFO,1744,1926,102.0,414.0,Airline/Carrier
2,2018-01-01,UA,488,MFE,IAH,1726,1844,78.0,316.0,Weather
3,2018-01-01,AS,5,DCA,LAX,910,1230,380.0,2311.0,Airline/Carrier
4,2018-01-01,AS,64,WRG,KTN,1623,1655,32.0,82.0,Weather
...,...,...,...,...,...,...,...,...,...,...
171,2018-01-01,WN,1237,AUS,MSY,1100,1215,75.0,444.0,Airline/Carrier
172,2018-01-01,WN,5739,CLE,MDW,920,940,80.0,307.0,Airline/Carrier
173,2018-01-01,WN,3,DAL,HOU,730,835,65.0,239.0,Airline/Carrier
174,2018-01-01,WN,5,DAL,HOU,800,910,70.0,239.0,Airline/Carrier
175,2018-01-01,WN,8,HOU,DAL,800,900,60.0,239.0,Airline/Carrier

## Get the flight city info

In [33]:
flight_df = df_2018[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST']]
flight_df

         FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM ORIGIN DEST
0     2018-01-01         UA               2429    EWR  DEN
1     2018-01-01         UA               2427    LAS  SFO
2     2018-01-01         UA               2426    SNA  DEN
3     2018-01-01         UA               2425    RSW  ORD
4     2018-01-01         UA               2424    ORD  ALB
...          ...        ...                ...    ...  ...
9995  2018-01-01         WN               1672    HOU  PHX
9996  2018-01-01         WN                398    HOU  PIT
9997  2018-01-01         WN                 39    HOU  PNS
9998  2018-01-01         WN                255    HOU  RDU
9999  2018-01-01         WN                966    HOU  SAN

[10000 rows x 5 columns]

In [34]:
flight_df2 = flight_df.merge(us_airport_clear[['IATA','City']],left_on='ORIGIN',right_on='IATA',how='left')
flight_df3 =flight_df2.merge(us_airport_clear[['IATA','City']],left_on='DEST',right_on='IATA',how='left')
flight_df3

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,IATA_x,City_x,IATA_y,City_y
0,2018-01-01,UA,2429,EWR,DEN,EWR,New York / Newark,DEN,Denver
1,2018-01-01,UA,2427,LAS,SFO,LAS,Las Vegas,SFO,San Francisco
2,2018-01-01,UA,2426,SNA,DEN,SNA,Orange County,DEN,Denver
3,2018-01-01,UA,2425,RSW,ORD,RSW,Fort Myers,ORD,Chicago
4,2018-01-01,UA,2424,ORD,ALB,ORD,Chicago,ALB,Albany
...,...,...,...,...,...,...,...,...,...
9995,2018-01-01,WN,1672,HOU,PHX,HOU,Houston,PHX,Phoenix
9996,2018-01-01,WN,398,HOU,PIT,HOU,Houston,PIT,Pittsburgh
9997,2018-01-01,WN,39,HOU,PNS,HOU,Houston,PNS,Pensacola
9998,2018-01-01,WN,255,HOU,RDU,HOU,Houston,RDU,Raleigh
9999,2018-01-01,WN,966,HOU,SAN,HOU,Houston,SAN,San Diego

In [35]:
flight_df3.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'IATA_x', 'City_x', 'IATA_y', 'City_y'],
      dtype='object')

In [36]:
flight_df4 = flight_df3[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM','City_x','City_y']]
# flight_df4.cloumns=['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM','City_ORIGIN','City_DEST']
flight_clear=flight_df4.rename(columns={"City_x": "City_ORIGIN", "City_y": "City_DEST"})   
flight_clear

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,City_ORIGIN,City_DEST
0,2018-01-01,UA,2429,New York / Newark,Denver
1,2018-01-01,UA,2427,Las Vegas,San Francisco
2,2018-01-01,UA,2426,Orange County,Denver
3,2018-01-01,UA,2425,Fort Myers,Chicago
4,2018-01-01,UA,2424,Chicago,Albany
...,...,...,...,...,...
9995,2018-01-01,WN,1672,Houston,Phoenix
9996,2018-01-01,WN,398,Houston,Pittsburgh
9997,2018-01-01,WN,39,Houston,Pensacola
9998,2018-01-01,WN,255,Houston,Raleigh
9999,2018-01-01,WN,966,Houston,San Diego

In [37]:
flight_clear.to_csv("Clean/flight_city.csv",index=False)

In [38]:
pd.read_csv('Clean/flight_city.csv')
# the dataframe name
flight_clear

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,City_ORIGIN,City_DEST
0,2018-01-01,UA,2429,New York / Newark,Denver
1,2018-01-01,UA,2427,Las Vegas,San Francisco
2,2018-01-01,UA,2426,Orange County,Denver
3,2018-01-01,UA,2425,Fort Myers,Chicago
4,2018-01-01,UA,2424,Chicago,Albany
...,...,...,...,...,...
9995,2018-01-01,WN,1672,Houston,Phoenix
9996,2018-01-01,WN,398,Houston,Pittsburgh
9997,2018-01-01,WN,39,Houston,Pensacola
9998,2018-01-01,WN,255,Houston,Raleigh
9999,2018-01-01,WN,966,Houston,San Diego

## Creat the sql table by quickDBD

In [39]:
# Create a database in postgresql named as "ETL-Project"

In [40]:
# drop the potential exsisting tables. skip this step for the first time
'''
drop table "completed_airlines";
drop table "completed_airports";
drop table "delay_df_clear";
drop table "flight_clear";
drop table "cancel_df_clear";
'''

'\ndrop table "completed_airlines";\ndrop table "completed_airports";\ndrop table "delay_df_clear";\ndrop table "flight_clear";\ndrop table "cancel_df_clear";\n'

In [41]:
# create the table based on the df
'''
CREATE TABLE "completed_airlines" (
    "IATA" varchar   NOT NULL,
    "Airline" varchar   NOT NULL,
    CONSTRAINT "pk_completed_airlines" PRIMARY KEY (
        "IATA"
     )
);

CREATE TABLE "completed_airports" (
    "IATA" varchar   NOT NULL,
    "ICAO" varchar  ,
    "FAA" varchar   ,
    "Airport" varchar   NOT NULL,
    "City" varchar   ,
    "STATE" varchar   ,
    "COUNTRY" varchar   ,
    "LATITUDE" varchar   ,
    "LONGITUDE" varchar   ,
    CONSTRAINT "pk_completed_airports" PRIMARY KEY (
        "IATA"
     )
);

CREATE TABLE "delay_df_clear" (
    "FL_DATE" varchar   NOT NULL,
    "OP_CARRIER" varchar   NOT NULL,
    "OP_CARRIER_FL_NUM" int   NOT NULL,
    "ORIGIN" varchar   NOT NULL,
    "DEST" varchar   NOT NULL,
    "CRS_DEP_TIME" int   NOT NULL,
    "DEP_DELAY" int   NOT NULL,
    "CRS_ARR_TIME" int   NOT NULL,
    "ARR_DELAY" int   NOT NULL,
    "AIR_TIME" int   NOT NULL,
    "DISTANCE" int   NOT NULL,
    "CARRIER_DELAY" int   NOT NULL,
    "WEATHER_DELAY" int   NOT NULL,
    "NAS_DELAY" int   NOT NULL,
    "SECURITY_DELAY" int   NOT NULL,
    "LATE_AIRCRAFT_DELAY" int   NOT NULL
);

CREATE TABLE "flight_clear" (
    "FL_DATE" varchar   NOT NULL,
    "OP_CARRIER" varchar   NOT NULL,
    "OP_CARRIER_FL_NUM" int   NOT NULL,
    "City_ORIGIN" varchar   NOT NULL,
    "City_DEST" varchar   NOT NULL
);

CREATE TABLE "cancel_df_clear" (
    "FL_DATE" varchar   NOT NULL,
    "OP_CARRIER" varchar   NOT NULL,
    "OP_CARRIER_FL_NUM" int   NOT NULL,
    "ORIGIN" varchar   NOT NULL,
    "DEST" varchar   NOT NULL,
    "CRS_DEP_TIME" int   NOT NULL,
    "CRS_ARR_TIME" int   NOT NULL,
    "CRS_ELAPSED_TIME" int   NOT NULL,
    "DISTANCE" int   NOT NULL,
    "CANCELLATION_DESCRIPTION" varchar  NOT NULL
);

'''

'\nCREATE TABLE "completed_airlines" (\n    "IATA" varchar   NOT NULL,\n    "Airline" varchar   NOT NULL,\n    CONSTRAINT "pk_completed_airlines" PRIMARY KEY (\n        "IATA"\n     )\n);\n\nCREATE TABLE "completed_airports" (\n    "IATA" varchar   NOT NULL,\n    "ICAO" varchar  ,\n    "FAA" varchar   ,\n    "Airport" varchar   NOT NULL,\n    "City" varchar   ,\n    "STATE" varchar   ,\n    "COUNTRY" varchar   ,\n    "LATITUDE" varchar   ,\n    "LONGITUDE" varchar   ,\n    CONSTRAINT "pk_completed_airports" PRIMARY KEY (\n        "IATA"\n     )\n);\n\nCREATE TABLE "delay_df_clear" (\n    "FL_DATE" varchar   NOT NULL,\n    "OP_CARRIER" varchar   NOT NULL,\n    "OP_CARRIER_FL_NUM" int   NOT NULL,\n    "ORIGIN" varchar   NOT NULL,\n    "DEST" varchar   NOT NULL,\n    "CRS_DEP_TIME" int   NOT NULL,\n    "DEP_DELAY" int   NOT NULL,\n    "CRS_ARR_TIME" int   NOT NULL,\n    "ARR_DELAY" int   NOT NULL,\n    "AIR_TIME" int   NOT NULL,\n    "DISTANCE" int   NOT NULL,\n    "CARRIER_DELAY" int   NOT NULL,\n    "WEATHER_DELAY" int   NOT NULL,\n    "NAS_DELAY" int   NOT NULL,\n    "SECURITY_DELAY" int   NOT NULL,\n    "LATE_AIRCRAFT_DELAY" int   NOT NULL\n);\n\nCREATE TABLE "flight_clear" (\n    "FL_DATE" varchar   NOT NULL,\n    "OP_CARRIER" varchar   NOT NULL,\n    "OP_CARRIER_FL_NUM" int   NOT NULL,\n    "City_ORIGIN" varchar   NOT NULL,\n    "City_DEST" varchar   NOT NULL\n);\n\nCREATE TABLE "cancel_df_clear" (\n    "FL_DATE" varchar   NOT NULL,\n    "OP_CARRIER" varchar   NOT NULL,\n    "OP_CARRIER_FL_NUM" int   NOT NULL,\n    "ORIGIN" varchar   NOT NULL,\n    "DEST" varchar   NOT NULL,\n    "CRS_DEP_TIME" int   NOT NULL,\n    "CRS_ARR_TIME" int   NOT NULL,\n    "CRS_ELAPSED_TIME" int   NOT NULL,\n    "DISTANCE" int   NOT NULL,\n    "CANCELLATION_DESCRIPTION" var   NOT NULL\n);\n\n'

## store the db in sql

In [42]:
from sqlalchemy import create_engine
# create a file named "config.py" to store the "username" and "pw"
from config import username, pw

In [43]:
rds_connection_string = f"postgresql://{username}:{pw}@localhost:5432/ETL-Project"
engine = create_engine(rds_connection_string)

In [44]:
engine.table_names()

['completed_airlines',
 'completed_airports',
 'delay_df_clear',
 'flight_clear',
 'cancel_df_clear']

In [47]:
# Dataframes we generated:
# us_airline_clear
# us_airport_clear
# delay_df_clear
# flight_clear
# cancel2_df

In [45]:
us_airline_clear.to_sql(name='completed_airlines', con=engine, if_exists='append', index=False)

In [46]:
pd.read_sql_query('select * from completed_airlines', con=engine).head()

  IATA                                        Airline
0   1A                          Amadeus IT Group S.A.
1   1B  Sabre travel network Asia-Pacific (ex-Abacus)
2   1E                                      Travelsky
3   1F                Infini travel information, Inc.
4   1G                      Travelport (Galileo core)

In [47]:
us_airport_clear.to_sql(name='completed_airports', con=engine, if_exists='append', index=False)

In [48]:
pd.read_sql_query('select * from completed_airports', con=engine).head()

,IATA,ICAO,FAA,Airport,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,BHM,KBHM,BHM,Birminghamâ€“Shuttlesworth International Airport,Birmingham,AL,USA,33.562940000000005,-86.75355
1,DHN,KDHN,DHN,Dothan Regional Airport,Dothan,AL,USA,31.321340000000003,-85.44963
2,HSV,KHSV,HSV,Huntsville International Airport (Carl T. Jone...,Huntsville,AL,USA,34.64045,-86.77311
3,MOB,KMOB,MOB,Mobile Regional Airport,Mobile,AL,USA,30.69142,-88.24283
4,MGM,KMGM,MGM,Montgomery Regional Airport (Dannelly Field),Montgomery,AL,USA,32.30064,-86.39398

In [49]:
delay_df_clear.to_sql(name='delay_df_clear', con=engine, if_exists='append', index=False)

In [50]:
pd.read_sql_query('select * from delay_df_clear', con=engine).head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018-01-01,UA,2416,ORD,CLE,2059,121,2311,129,48,316,121,0,8,0,0
1,2018-01-01,UA,2413,ORD,BTV,2114,76,15,73,99,763,0,11,0,0,62
2,2018-01-01,UA,2412,MCO,LAX,653,54,930,55,302,2218,54,0,1,0,0
3,2018-01-01,UA,2411,EWR,SMF,1810,72,2136,25,319,2500,7,0,0,0,18
4,2018-01-01,UA,2410,RSW,EWR,1250,47,1537,29,131,1068,29,0,0,0,0

In [51]:
flight_clear.to_sql(name='flight_clear', con=engine, if_exists='replace', index=False)

In [52]:
pd.read_sql_query('select * from flight_clear', con=engine).head()

      FL_DATE OP_CARRIER  OP_CARRIER_FL_NUM        City_ORIGIN      City_DEST
0  2018-01-01         UA               2429  New York / Newark         Denver
1  2018-01-01         UA               2427          Las Vegas  San Francisco
2  2018-01-01         UA               2426      Orange County         Denver
3  2018-01-01         UA               2425         Fort Myers        Chicago
4  2018-01-01         UA               2424            Chicago         Albany

In [53]:
cancel2_df.to_sql(name='cancel_df_clear', con=engine, if_exists='replace', index=False)

In [54]:
pd.read_sql_query('select * from cancel_df_clear', con=engine).head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,CRS_ELAPSED_TIME,DISTANCE,CANCELLATION_DESCRIPTION
0,2018-01-01,UA,2034,IAH,MFE,1440,1601,81.0,316.0,Weather
1,2018-01-01,UA,864,LAS,SFO,1744,1926,102.0,414.0,Airline/Carrier
2,2018-01-01,UA,488,MFE,IAH,1726,1844,78.0,316.0,Weather
3,2018-01-01,AS,5,DCA,LAX,910,1230,380.0,2311.0,Airline/Carrier
4,2018-01-01,AS,64,WRG,KTN,1623,1655,32.0,82.0,Weather

# mongo database

In [55]:
# Dataframes we generated:
# us_airline_clear
# us_airport_clear
# delay_df_clear
# flight_clear
# cancel2_df

In [59]:
# also try to store the data in the mongo database
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

In [60]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [61]:
db = client.airline_db

In [62]:
db.us_airline_clear.insert_many(us_airline_clear.to_dict('records'))

In [63]:
db.us_airport_clear.insert_many(us_airport_clear.to_dict('records'))

In [64]:
db.delay_df_clear.insert_many(delay_df_clear.to_dict('records'))

In [65]:
db.flight_clear.insert_many(flight_clear.to_dict('records'))

In [66]:
db.cancel2_df.insert_many(cancel2_df.to_dict('records'))